<h2>Meu Top GAMES</h2>
<ul class="games">
  <li *ngFor="let game of games" [class.selected]="game === selectedGame" (click)="onSelect(game)">
    <span class="badge">{{game.rank}}</span> {{game.name}}
  </li>
</ul>

<div *ngIf="selectedGame" class="modal">

  <h2>{{selectedGame.name | uppercase}}</h2>
    <div>
    <label class="input">Classificação:
      <input [(ngModel)]="selectedGame.rank" placeholder="classificação">       <button (click)="update()">Reclassificar</button>
      <button (click)="delete()">Remover</button>
    </label>
  </div>

</div>

<label>Adicionar Game:
  <input [(ngModel)]="addName" placeholder="Nome">
  <button (click)="add()">add</button>
</label>
